.page-layout {
    padding: 24px;
    display: flex;
    flex-direction: column;
    background-color: white;

    .btn_cancel {
        background-color: #e22828 !important;
        color: #fff !important;
        margin-left: 10px;
    }
    .close {
        float: right;
        width: 36px;
        height: 36px;
        border: 2px solid #555;
        text-align: center;
        line-height: 35px;
        border-radius: 50%;

        i{
            color:#555;
        }
    }
    .modal_title{
        display:inline-block;
    }
}
.timepicker {
    padding-bottom: 20px;
    padding-left: 30px !important;
}
::ng-deep .cdk-global-overlay-wrapper .cdk-overlay-pane {
    width: 50vw !important;
}
.page-layout.blank {
    padding: 0 !important;
}
.page-layout.blank .pl-20 div {
    max-width: 100% !important;
}
.page-layout.blank .pl-20 {
    padding-left: 0 !important;
}

@media (min-width: 320px) and (max-width: 767px) {
    ::ng-deep .cdk-global-overlay-wrapper .cdk-overlay-pane {
        width: 80vw !important;
    }
    .page-layout.blank {
        padding: 0 !important;
    }
    .page-layout.blank .pl-20 div {
        max-width: 100% !important;
    }
    .page-layout.blank .pl-20 {
        padding-left: 0 !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    ::ng-deep .cdk-global-overlay-wrapper .cdk-overlay-pane {
        width: 70vw !important;
    }
    .page-layout.blank {
        padding: 0 !important;
    }
    .page-layout.blank .pl-20 div {
        max-width: 100% !important;
    }
    .page-layout.blank .pl-20 {
        padding-left: 0 !important;
    }
}
@media (min-width: 992px) and (max-width: 1024px) {
    ::ng-deep .cdk-global-overlay-wrapper .cdk-overlay-pane {
        width: 60vw !important;
    }
    .page-layout.blank {
        padding: 0 !important;
    }
    .page-layout.blank .pl-20 div {
        max-width: 100% !important;
    }
    .page-layout.blank .pl-20 {
        padding-left: 0 !important;
    }
}