<!-- <div class="page-layout blank">
  <div fxLayout="row" fxLayoutAlign="end start">
    <button mat-icon-button tabindex="-1" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div fxLayout="column" fxFlex="90">
      <mat-form-field>
        <input matInput placeholder="What are you looking for?">
      </mat-form-field>
      <p class="align-title">Search by client name, mobile, email or booking reference</p>
    </div>
  </div>
</div> -->