<div class="page-layout blank">
  <!-- <p-toast></p-toast> -->
  <form [formGroup]="orderForm" (ngSubmit)="onSubmitProduct(orderForm)">
    <div *ngIf="pageView=='normal'">
      <div fxLayout="column" class="header" fxLayoutAlign="start center">
        <div fxLayout="row">
          <h2 mat-dialog-title>Create Order</h2>
          <button mat-button mat-dialog-close class="crossButton">
            <mat-icon class="crossButton" mat-dialog-close>close</mat-icon>
          </button>
        </div>
      </div>
      <mat-dialog-content class="content" style="border-top: 1px solid #dee3e6;">
        <div fxLayout="row" class="innerbody" fxLayoutAlign="space-around">
          <div class="left" fxLayout="column" fxFlex="50">
            <div fxLayout="row">
              <div fxLayout="column" fxFlex="100">
                <mat-form-field appearance="outline">
                  <mat-label>Order Price</mat-label>
                  <input matInput placeholder="" formControlName="price">
                  <mat-error *ngIf="
                  !orderForm.controls['price'].valid &&
                  (orderForm.controls['price'].touched ||
                    submittedError)
                ">
                <mat-error *ngIf="
                    orderForm.get('price').hasError('required')
                  ">
                  Price is required
                </mat-error>
              </mat-error>
            </mat-form-field>                
              </div>
            </div>
            <div fxLayout="row">
              <div fxLayout="column" fxFlex="100">
                <mat-form-field appearance="outline">
                  <mat-label>Reference Number</mat-label>
                  <input matInput placeholder="" formControlName="referenceNumber">
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row">
              <div fxLayout="column" fxFlex="100">
                <mat-form-field appearance="outline">
                  <mat-label>Product Supplier</mat-label>
                  <input matInput placeholder="" formControlName="supplier">
                </mat-form-field>
              </div>
            </div>

            <div fxLayout="row" style="padding-bottom:10px">
              <div fxLayout="column" fxFlex="100">
                <div class="terms" fxLayout="row" fxLayoutAlign="space-between center">
                  <div fxLayout="column" fxFlex="50">
                    Processed by Staff </div>
                  <div fxLayout="column" fxFlex="50">
                    <mat-slide-toggle></mat-slide-toggle>
                  </div>
                </div>
              </div>
            </div>

            <!-- <div fxLayout="row" fxLayoutGap="30px">
              <div fxLayout="column" fxFlex="50">
                <mat-form-field appearance="outline">
                  <mat-label>RETAIL PRICE</mat-label>
                  <input matInput myNumberOnly type="text" placeholder="" formControlName="retailPrice">
                  <mat-error *ngIf="
                  !orderForm.controls['retailPrice'].valid &&
                  (orderForm.controls['retailPrice'].touched ||
                    submittedError)
                ">
                <mat-error *ngIf="
                    orderForm.get('retailPrice').hasError('required')
                  ">
                  Retail price is required
                </mat-error>
              </mat-error>
                </mat-form-field>
              </div>
              <div fxLayout="column" fxFlex="50">
                <mat-form-field appearance="outline">
                  <mat-label>SPECIAL PRICE</mat-label>
                  <input matInput myNumberOnly type="text" placeholder="" formControlName="specialPrice">
                </mat-form-field>
              </div>
            </div> -->

            <!-- <div fxLayout="row">
              <div fxLayout="column" fxFlex="100">
                <mat-form-field appearance="outline">
                  <mat-label>TAX</mat-label>
                  <input matInput placeholder="" formControlName="beforeTax">
                  <button mat-button matSuffix (click)="taxModalView()">
                    <mat-icon matSuffix>note_add</mat-icon>
                  </button>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row">
              <div fxLayout="column" fxFlex="100">
                <div class="terms" fxLayout="row" fxLayoutAlign="start start">
                  <mat-checkbox formControlName="acceptNotify" name="terms" aria-label="I read and accept" required>
                    <span>Accept marketing notification</span>
                  </mat-checkbox>
                </div>
              </div>
            </div> -->
          </div>
          <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
          <!-- phase right -->
          <div class="right" fxLayout="column" fxFlex="50">
            <div fxLayout="row" fxLayoutGap="30px">
              <div fxLayout="column" fxFlex="50">
                <mat-form-field appearance="outline">
                  <mat-label>Source Location</mat-label>
                  <input matInput myNumberOnly type="text" placeholder="" formControlName="sourceLocation">
                </mat-form-field>
              </div>
              <div fxLayout="column" fxFlex="50">
                <mat-form-field appearance="outline">
                  <mat-label>Destination Location</mat-label>
                  <input matInput myNumberOnly type="text" placeholder="" formControlName="destinationLocation">
                </mat-form-field>
              </div>
            </div>
            <!-- <div fxLayout="row">
              <div fxLayout="column" fxFlex="100">
                <mat-form-field appearance="outline">
                  <mat-label>DESCRIPTION</mat-label>
                  <textarea matInput placeholder="" formControlName="description"></textarea>
                </mat-form-field>
              </div>
            </div> -->
            <div fxLayout="row" style="padding-bottom:10px">
              <div fxLayout="column" fxFlex="100">
                <div class="terms" fxLayout="row" fxLayoutAlign="space-between center">
                  <div fxLayout="column" fxFlex="50">
                    Order Items</div>
                  <div fxLayout="column" fxFlex="50">
                    <!-- <mat-slide-toggle></mat-slide-toggle> -->
                  </div>
                </div>
              </div>
            </div>
            <div fxLayout="row">
              <div fxLayout="column" fxFlex="100">
                <mat-form-field appearance="outline">
                  <mat-label>Order Quantity</mat-label>
                  <input matInput placeholder="" formControlName="orderQuantity">
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row">
              <div fxLayout="column" fxFlex="100">
                <mat-form-field appearance="outline">
                  <mat-label>Supply Price</mat-label>
                  <input matInput placeholder="" formControlName="supplyPrice">
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row">
              <div fxLayout="column" fxFlex="100">
                <mat-form-field appearance="outline">
                  <mat-label>Recieved Quantity</mat-label>
                  <input matInput placeholder="" formControlName="recievedQuantity">
                </mat-form-field>
              </div>
            </div>
            <!-- <div fxLayout="row">
              <div fxLayout="column" fxFlex="100">
                <mat-card>
                  <div class="wrapper">
                    <div class="table">
                      <div class="row header blue headers">
                        <div class="cell">
                          Location
                        </div>
                        <div class="cell">
                          Initial stock
                        </div>
                        <div class="cell">
                          Reorder point
                        </div>
                        <div class="cell">
                          Reorder qty.
                        </div>
                      </div>
                      <div class="row rowfill" *ngFor="let item of location">
                        <div class="cell" style="font-size:14px">
                          {{item.name}}
                        </div>
                        <div class="cell">
                          <mat-form-field style="font-size: 12px; width:50px !important " appearance="outline">
                            <input matInput placeholder="">
                          </mat-form-field>
                        </div>
                        <div class="cell">
                          <mat-form-field style="font-size: 12px; width:50px !important " appearance="outline">
                            <input matInput placeholder="">
                          </mat-form-field>
                        </div>
                        <div class="cell" data-title="Active">
                          <mat-form-field style="font-size: 12px; width:50px !important " appearance="outline">
                            <input matInput placeholder="">
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-card>
              </div>
            </div> -->
          </div>
        </div>
      </mat-dialog-content>
      <div style="border-top: 1px solid #dee3e6;" fxLayout="row" fxLayoutAlign="space-between center" class="buttons">
        <button mat-raised-button color="warn" type="button" (click)="isDelete()">Delete</button>
        <div fxLayout="row" fxFlex="1 1 auto"></div>
        <button mat-raised-button type="button" mat-dialog-close>Cancel</button>
        <button style="margin-left: 10px !important;" mat-raised-button type="submit" color="primary"
          >Saves</button>
      </div>
    </div>
    <!--  -->
    <!--  -->
    <div *ngIf="pageView == 'tax'">
      <div fxLayout="column" class="header" fxLayoutAlign="start center">
        <div fxLayout="row">
          <h2 mat-dialog-title>Change Tax</h2>
        </div>
      </div>
      <mat-dialog-content class="content">
        <div fxLayout="row" fxLayoutAlign="space-around center">
          <p class="description">
            Choose Tax Rate applicable in locations.
          </p>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-between center">
          <div formArrayName="tax" *ngFor="let item of orderForm.get('tax').controls; let i = index;">
            <div [formGroupName]="i">
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <input formControlName="locationName" placeholder="location name">
              </div>
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-form-field class="noline" fxFlex="100">
                  <mat-select formControlName="value" class="dropdown" placeholder="select the option">
                    <mat-option value="">Default</mat-option>
                    <mat-option value="No Tax">No Tax</mat-option>
                    <mat-option value="10">12</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </mat-dialog-content>
      <div fxLayout="row" fxLayoutAlign="space-around center" class="buttons">
        <div fxLayout="column" fxLayoutAlign="space-around stretch" fxFlex="100">
          <button mat-raised-button color="primary" type="button">Save</button>
        </div>
      </div>
    </div>
  </form>
</div>