table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }

  .emptyicons {
    text-align: center;
    margin-top: 5%;
    color: #616161 !important;
    font-size: 100px;
  
    p {
      font-size: 15px;
    }
  
    h1 {
      margin: -22px 0 5px 0;
    }
  }

  .topShift {
    width: 100% !important;
  }

  .pad-bot {
    padding-bottom: 40% !important;
  }