.crossButton {
    cursor: pointer;
    position: absolute;
    right: 10px;
    font-size: 29px;
}

.border-bottom{
    color: #24334A;
    padding-right: 30px;
    border-bottom: 1px solid #DEE3E7;
}

.row-locs{}
.row-loc:hover {
    background-color: #DCDCDC;
    cursor: pointer;
  }

  .address-slip{
    padding-top: 10px;
    padding-bottom: 19px;
    color: #24334A;
    padding-right: 30px;
    border-bottom: 1px solid #DEE3E7;
  }