<div class="page-layout blank">
  <div fxLayout="column" class="header" fxLayoutAlign="start center">
    <div fxLayout="row">
      <h2 mat-dialog-title>Preview template</h2> <button mat-button mat-dialog-close class="crossButton">
        <mat-icon class="crossButton" mat-dialog-close>close</mat-icon>
      </button>
    </div>
  </div>

  <mat-card>
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <!-- row data -->
      <table border="0" width="100%" cellspacing="0" cellpadding="0">
        <tbody>
          <tr>
            <td valign="top">
              <p class="color-black">Hi John,</p>
              <p class="color-black">This is a friendly reminder about your appointment with booking reference
                57D40C9FFC. Here are the details:</p>
              <p class="color-black">abc&nbsp;<br />service_A&nbsp;<br />Friday, 22 Mar 2019 at 8:00am</p>
              <p class="color-black">At this location:</p>
              <p class="color-black">abc</p>
              <p class="color-black">Need to change your appointment? Please contact abc on .</p>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- row data -->
    </div>
  </mat-card>

</div>