.card-image-class2 {
    width: 200px !important;
    height: 145px !important;
    margin-left: 0.1% !important;
    border-radius: 5% !important;
}

--cropper-outline-color {
    background-color: mediumblue;
}

--cropper-overlay-color {
    background-color: lightslategray;
}