<div class="dialog-pad">
  <div fxLayout="column" class="header" fxLayoutAlign="start center">
    <div fxLayout="row">
      <h2 mat-dialog-title>Cancel Appointment</h2>
    </div>
  </div>
  <mat-dialog-content class="content">
    <div fxLayout="row" class="innerbody" fxLayoutAlign="space-around">
      <mat-form-field class="form">
        <mat-select [(value)]="selected">
          <mat-option value="option1">No reason provided</mat-option>
          <mat-option value="option2">Duplicate appointment</mat-option>
          <mat-option value="option3">Appointment made by mistake</mat-option>
          <mat-option value="option4">Client not available</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <div fxLayout="row" fxLayoutAlign="end end" class="buttons">
    <button mat-raised-button type="button" mat-dialog-close color="warn" (click)="appointmentCancelled()">Cancel
      Appointment</button>
  </div>
</div>