.account {
    font-family: Sarabun !important;
}

.font-bold {
    font-weight: bold;
}

.font-24 {
    font-size: 24px;
}

.changeColor {
    color: #039be5;
}

.main-btn {
    padding: 4px 20px;
    width: 100%;
    color: white !important
}

.changeBg {
    background-color: #039be5 !important;
}

table {
    width: 100%;
    font-family: Sarabun !important;
}

th.mat-sort-header-sorted {
    color: black;
}

.margin-TL {
    margin: 1%;
}

.new-btn-span {
    font-size: 36px;
    display: inline-block;
}

.new-btn {
    font-size: 16px;
    margin-top: 15px;
    margin-left: 6px;
    display: inline-block;
}

@media screen and (max-width: 450px),
(min-device-width: 450px) and (max-device-width: 450px) {
    .p-50 {
        padding: 10px;
    }

    .p-24 {
        padding: 0px !important;
    }

    .border-div {
        margin: 0;
    }

    .margin-TL {
        margin: 0;
    }

}