<!-- <form (submit)="handleForm($event)">


  <div #cardElement>
  </div>


  <p>{{ cardErrors }}</p>


<button >Buy for ${{ amount / 100 }}.00</button>
</form> -->

<!-- <form (submit)="handleForm($event)" id="payment-form">
  <div class="form-row">
    <label for="card-element">
      Credit or debit card
    </label>
    <div id="card-element" #cardElement>
    </div>

    <div id="card-errors" role="alert">
      <p>{{ cardErrors }}</p>
    </div>
  </div>

  <button>Submit Payment</button>
</form> -->

<button (click)="openCheckout()">Purchase</button>