
<div class="page-layout blank">
  <p-toast></p-toast>
  <!-- <form name="companyDetailsForm" [formGroup]="companyDetailsForm" (ngSubmit)="companyDetails(companyDetailsForm)"> -->
    <form name="companyDetailsForm" [formGroup]="companyDetailsForm" (ngSubmit)="companyDetails(companyDetailsForm)">
      <div fxLayout="column" class="header" fxLayoutAlign="start center">
        <div fxLayout="row">
            <h2 mat-dialog-title>create Business</h2>
            <button mat-button mat-dialog-close class="crossButton">
                <mat-icon class="crossButton" mat-dialog-close>close</mat-icon>
            </button>
        </div>
    </div>
    <div class="innerbody">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px" style="overflow-x: auto;">
      <div fxLayout="column" fxFlex="50" fxLayoutAlign="center center" *ngIf="!!profileUrl">
        <div>
          <div class="btn-del">
            <button mat-icon-button type="button" (click)="removeImage()">
              <mat-icon class="alert">close</mat-icon>
            </button>
          </div>
          <div class="image">
            <img class="object-fit_cover" [src]="profileUrl">
          </div>
        </div>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" *ngIf="!profileUrl">
        <div>
          <div class="image">
            <img class="object-fit_cover" src="../assets/images/avatars/profile.jpg">
          </div>
        </div>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px" style="overflow-x: auto;">
      <div fxLayout="column" fxFlex="11">
        <input class="file-hide" type="file" #fileInputs multiple (change)="filechangeProfile($event)">
        <button mat-stroked-button color="primary" type="button" (click)="fileInputs.click()">Upload
          Profile</button>
      </div>
    </div>
    <br />
    <div fxLayout="row"  >
      <div fxLayout="column" fxFlex="5" fxLayoutAlign="space-around stretch">

      </div>
      <div fxLayout="column" fxFlex="40" fxLayoutAlign="space-around stretch">
        <mat-form-field appearance="outline">
          <mat-label>Business Name</mat-label>
          <input matInput formControlName="businessName">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Website</mat-label>
          <input matInput formControlName="website">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-select placeholder="Business Type" formControlName="businessType">
            <mat-option *ngFor="let type of businessTypeArray" [value]="type">{{type}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-select placeholder="Time Zone" formControlName="timezone">
            <mat-option *ngFor="let type of timeZoneArray" [value]="type">{{type}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-select placeholder="Time Format" formControlName="timeFormat">
            <mat-option *ngFor="let type of timeFormatArray" [value]="type.value">{{type.viewValue}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-select placeholder="Country" formControlName="country">
            <mat-option *ngFor="let type of countryArray" [value]="type.name">{{type.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-select placeholder="Currency" formControlName="currency">
            <mat-option *ngFor="let type of currencyArray" [value]="type.code">{{type.name}} - {{type.code}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout="column" fxFlex="10" fxLayoutAlign="space-around stretch">

      </div>

      <div fxLayout="column" fxFlex="40" fxLayoutAlign="space-around stretch">
        <mat-form-field appearance="outline">
          <mat-label>ABN Business Number</mat-label>
          <input matInput >
        </mat-form-field>
        <!-- <mat-form-field appearance="outline">
          <mat-label>Tax Name</mat-label>
          <textarea maxLength="400" matInput formControlName="description"></textarea>
        </mat-form-field> -->
        <mat-form-field appearance="outline">
          <mat-label>Tax Name</mat-label>
          <input matInput >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Bank  A/C to recieve Money</mat-label>
          <input matInput formControlName="website">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>A/C Name</mat-label>
          <input matInput formControlName="website">
        </mat-form-field><mat-form-field appearance="outline">
          <mat-label>B&B</mat-label>
          <input matInput formControlName="website">
        </mat-form-field><mat-form-field appearance="outline">
          <mat-label>A/C Number</mat-label>
          <input matInput formControlName="website"></mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea maxLength="400" matInput formControlName="description"></textarea>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <textarea matInput formControlName="address"></textarea>
          </mat-form-field>

      </div>
      <div fxLayout="column" fxFlex="5" fxLayoutAlign="space-around stretch">

      </div>
    </div>
 


    <div>
      <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="line-scale-pulse-out"></ngx-spinner>
      <button mat-raised-button color="primary" class="floatRight" type="submit" [promiseBtn]="loader">Create Business</button>
    </div>
    </div>
  </form>
</div>