.full-width {
    max-width: 100%;
    width: 100%;
}

.bg-white {
    // background: #fff !important;
}

.p20 {
    padding: 20px !important;
}

.fs17 {
    font-size: 17px !important;
}

.header {
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: Sarabun;
}

.header {
    text-align: center;
}

.mat-header-cell .text-center {
    text-align: center !important
}