<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="line-scale-pulse-out"></ngx-spinner>
<p-toast [style]="{marginTop: '50px'}"></p-toast>

<div class="page-layout blank textStyle">
  <div class="content p-50">
    <mat-tab-group class="background border-tab">
      <mat-tab label="PROFILE">
        <div class="content border-div" *ngIf="showProfile" [@enter] [@leave]>
          <div fxLayout="row" fxLayout.md="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-around start"
            class="p-24">
            <!-- Left side block --->
        
            <div fxFlex="40" class="p-24" [ngClass.lg]="'border-right'" [ngClass.xl]="'border-right'">
              <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center">
                <!-- Profile block --->
                <div fxFlex="40">
                  <div fxLayout="column" fxLayoutAlign="space-around center">
                    <div>
                      <img class="user_pro_img"
                        src="{{profileInfo?.image && profileInfo?.image[0] ? profileInfo?.image[0] :  'https://i.ibb.co/phhFBKX/profile.jpg'}}  "
                        alt="image">
        
                    </div>
                    <div>
                      <button mat-button color="primary" (click)="onOptionSelected('Edit')" class="font-bold"
                        [disabled]="this.profileInfo?.isverifiled">Edit
                        profile <i *ngIf="this.profileInfo?.isverifiled" class="material-icons">lock</i></button>
                    </div>
                    <div>
                      <button mat-button color="warn" [disabled]="this.profileInfo?.isverifiled" class="font-bold"
                        (click)="onOptionSelected('delete')">Remove <i *ngIf="this.profileInfo?.isverifiled"
                          class="material-icons">lock</i></button>
                    </div>
                  </div>
        
                </div>
        
                <!-- Profile Detail block --->
                <div fxFlex="60">
                  <div class="texth2" fxLayout="column" fxLayoutAlign="space-around start" fxLayoutGap="10px">
                    <div>
                      <h1>{{profileInfo?.firstName | titlecase}} {{profileInfo?.lastName | titlecase}}</h1>
        
                    </div>
                    <div><i class="material-icons yellow-text"
                        *ngFor="let dummy of ' '.repeat(profileInfo?.rating.star).split(''), let x = index">star</i>
                      <i class="material-icons yellow-text" *ngIf="profileInfo?.rating.star  % 1 !== 0">star_half</i>
                      <span *ngIf="profileInfo?.rating.star === 0"></span><i class="material-icons"
                        *ngFor="let dummy of ' '.repeat(5).split(''), let x = index">star</i>
                    </div>
                    <div>
                      <h3 class="changeColor">{{profileInfo?.email}}</h3>
                    </div>
                    <div>
                      <h3>+{{profileInfo?.countryCode}}{{profileInfo?.phone1}} | <img style="height: 21px;"
                          [src]="(profileInfo?.gender === 'Female' || profileInfo?.gender ===  'female' )? '../../../../assets/images/avatars/female.png' : '../../../../assets/images/avatars/male.png'">
                        {{profileInfo?.gender}}</h3>
                    </div>
                    <div>
                      <h3 *ngIf="profileInfo?.dob != undefined "><span class="font-bold">Date of Birth:
                        </span>{{profileInfo?.dob | date: 'mediumDate'}}</h3>
                      <h3 *ngIf="profileInfo?.dob == undefined"><span class="font-bold">Date of Birth: </span> not available
                      </h3>
                    </div>
                    <div>
                      <h3><span class="font-bold">Client Since</span>{{profileInfo?.createdAt | date : 'mediumDate'}}</h3>
                    </div>
        
                    <div *ngIf="profileInfo?.address == undefined || profileInfo?.address?.country == ''">
                      <h3>No Address available</h3>
                    </div>
                    <div *ngIf="profileInfo?.address != undefined && profileInfo?.address?.country != ''">
                      <h3>
                        {{profileInfo?.address?.area | titlecase}} - {{profileInfo?.address?.street}}
                      </h3>
                      <h3 *ngIf="profileInfo?.address?.city || profileInfo?.address?.zip">
                        {{profileInfo?.address?.city}},{{profileInfo?.address?.state}},{{profileInfo?.address?.country}} -
                        {{profileInfo?.address?.zip}}
                      </h3>
                    </div>
        
                  </div>
                </div>
              </div>
        
              <div fxLayout="row" fxLayoutAlign="space-around start">
                <fieldset style="border-color: #ffffff; width: 100%;font-size: 16px;">
                  <legend style="border-color: #ebecee;color: grey;" align="left">Client Note</legend>
                  <div>{{profileInfo?.notes?.text || 'No notes available'}} </div>
                </fieldset>
              </div>
              <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around start">
                <div fxFlex="60">
                  <h3 class="font-bold">Family & Friends Sharing</h3>
                  <button mat-raised-button [disabled]="this.profileInfo?.isverifiled" (click)="familyAndFriend()">Add Family
                    and
                    Friends <i *ngIf="this.profileInfo?.isverifiled" class="material-icons v-align-middle">lock</i></button>
        
        
                </div>
                <div fxFlex="40">
                  <h3 class="font-bold">General Tags</h3>
                  <button mat-raised-button [disabled]="this.profileInfo?.isverifiled"> Add Tags <i
                      *ngIf="this.profileInfo?.isverifiled" class="material-icons v-align-middle">lock</i></button>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="start start">
                <div>
                  <p class="smallFont blurText">share memberships and packages with your family and friends. you
                    can also book, pay and receive notifications on your family and friend's behalf. </p>
                </div>
              </div>
              <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around start">
                <div fxFlex="33">
                  <h4 class="font-bold m-0">Temporary Login: </h4>
                </div>
                <div fxFlex="33" class="text-center" [ngClass.lg]="'border-right'" [ngClass.xl]="'border-right'">
                  <h5 class="m-0"><i class="material-icons" style="vertical-align: middle;">person</i> usernamesample </h5>
                </div>
                <div fxFlex="33" class="text-center">
                  <h5 class="m-0"><i class="material-icons" style="vertical-align: middle;">vpn_key</i> passwordsample</h5>
        
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="space-around start">
                <div fxFlex="50" class="text-center">
                  <h3 class="font-bold changeColor">Point balance</h3>
                  <h1 class="font-bold">15 pts</h1>
                  <button mat-raised-button [disabled]="this.profileInfo?.isverifiled">Edit <i
                      *ngIf="this.profileInfo?.isverifiled" class="material-icons">lock</i></button>
                </div>
                <div fxFlex="50" class="text-center">
                  <h3 class=" changeColor font-bold">money</h3>
                  <h1 class="font-bold">$ 75.76</h1>
                </div>
              </div>
            </div>
        
            <!-- Right side block --->
            <div fxFlex="60" class="p-24" style="width: 100%;">
              <div fxFlex="100" fxLayout="column" fxLayoutAlign="space-around stretch" class="p-24" fxLayoutGap="10px">
                <div>
                  <div fxLayout="row" fxLayoutAlign="center stretch" fxLayout.xs="column">
                    <div fxFlex="100" class="border-div m-0">
                      <div fxLayout="column" fxLayoutAlign="space-evenly center" class="min-h-100">
                        <div class="gridHeader">{{moment(profileInfo?.updatedAt).fromNow()}}</div>
                        <div class="blurText">{{profileInfo?.updatedAt | date : 'mediumDate'}}</div>
                        <div class="blurText">Last Visit</div>
                      </div>
                    </div>
                    <div fxFlex="100" class="border-div m-0">
                      <div fxLayout="column" fxLayoutAlign="space-around center" class="min-h-100">
                        <div class="gridHeader">{{clientDetails?.totalSales}}</div>
                        <div class="blurText">Sales</div>
                      </div>
                    </div>
                    <div fxFlex="100" class="border-div m-0">
                      <div fxLayout="column" fxLayoutAlign="space-around center" class="min-h-100">
                        <div class="gridHeader">
                          15 pts.
                        </div>
                        <div class="blurText">
                          Localty Points
                        </div>
                      </div>
                    </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center stretch" fxLayout.xs="column">
                      <div fxFlex="100" class="border-div m-0">
                        <div fxLayout="column" fxLayoutAlign="space-around center" class="min-h-100">
                          <div class="gridHeader">
                            {{clientDetails?.allBookings}}
                          </div>
                          <div class="blurText">
                            Appointments
                          </div>
                        </div>
                      </div>
          
                      <div fxFlex="100" class="border-div m-0">
                        <div fxLayout="column" fxLayoutAlign="space-around center" class="min-h-100">
                          <div class="gridHeader">{{clientDetails?.noShow}}</div>
                          <div class="blurText">No Show</div>
                        </div>
                      </div>
                      <div fxFlex="100" class="border-div m-0">
                        <div fxLayout="column" fxLayoutAlign="space-around center" class="min-h-100">
                          <div class="gridHeader">{{clientDetails?.cancelled}}</div>
                          <div class="blurText">Cancellations</div>
                        </div>
                      </div>
          
                  </div>
                </div>
                <div class="border-tab">
                  <mat-tab-group mat-align-tabs="start">
                    <mat-tab label="Tarnsaction History">
                      <table matSort (matSortChange)="sortData($event)" class="transaction-table">
                        <thead>
                        <tr>
                          <th mat-sort-header="date">Date</th>
                          <th mat-sort-header="name">Name</th>
                          <th mat-sort-header="type">Type</th>
                          <th mat-sort-header="serveBy">Serve by</th>
                          <th mat-sort-header="price">Price</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let dessert of sortedtransactionHisroty">
                          <td>{{dessert.date}}</td>
                          <td>{{dessert.name}}</td>
                          <td>{{dessert.type}}</td>
                          <td>{{dessert.serveBy}}</td>
                          <td>{{dessert.price}}</td>
                          <td><i class="material-icons">content_copy</i></td>
                        </tr>
                      </tbody>
                      </table>
                      </mat-tab>
                      <mat-tab label="Treatment Notes">
                        <table matSort (matSortChange)="sortTreatmentData($event)" class="treatment-table">
                          <thead>
                            <tr>
                              <th mat-sort-header="date" style="width: 20%">Date</th>
                              <th mat-sort-header="noteBy" style="width: 10%">Note by</th>
                              <th mat-sort-header="item" style="width: 20%">Item</th>
                              <th mat-sort-header="decription" style="width: 30%">Description</th>
                              <th mat-sort-header="soapNote" style="width: 20%">SOAP Note</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let dessert of sortedtreamentNotes">
                              <td>{{dessert.date}}</td>
                              <td>{{dessert.noteBy}}</td>
                              <td>{{dessert.item}}</td>
                              <td>${{dessert.decription}}</td>
                              <td>${{dessert.soapNote}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </mat-tab>
        
                  </mat-tab-group>
        
                </div>
              </div>
        
            </div>
        
          </div>
          <!-- <div fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column" class="p-24">
            <div fxFlex="50" fxLayout.xs="row">
              <div class="Profile-card" fxLayout="row" fxLayoutAlign="space-around center">
                <div fxFlex="40">
                  <div fxLayout="column" fxLayoutAlign="space-around center">
                    <div>
                      <img class="user_pro_img" src="{{profileInfo?.image[0] ? profileInfo?.image[0] :  'https://i.ibb.co/phhFBKX/profile.jpg'}}  " alt="image">
                    
                    </div>
                    <div>
                      <button mat-button class="changeColor" color="primary" (click)="onOptionSelected('Edit')">Edit
                        profile</button>
                    </div>
                    <div>
                      <button mat-button color="warn" (click)="onOptionSelected('delete')">delete</button>
                    </div>
                  </div>

                </div>
                <div fxFlex="60" style="float: right">
                  <div class="texth2" fxLayout="column" fxLayoutAlign="space-around start">
                    <div>
                      <h1>{{profileInfo?.firstName | titlecase}} {{profileInfo?.lastName | titlecase}}</h1>
                      <h3 *ngIf="profileInfo?.dob != undefined ">Birthday {{profileInfo?.dob | date: 'mediumDate'}}</h3>
                      <h3 *ngIf="profileInfo?.dob == undefined">Birthday date not available</h3>
                    </div>
                    <br />
                    <div>
                      <h2>Contact</h2>
                      <h3 class="changeColor">{{profileInfo?.email}}</h3>
                      <h3>Cell: +{{profileInfo?.countryCode}}{{profileInfo?.phone1}}</h3>
                    </div>
                    <br />
                    <div *ngIf="profileInfo?.address == undefined || profileInfo?.address?.country == ''">
                      <h2>Address</h2><br>
                      <h3>No Address available</h3>
                    </div>
                    <div *ngIf="profileInfo?.address != undefined && profileInfo?.address?.country != ''">
                      <h2>Address</h2>
                      <h3>
                        {{profileInfo?.address?.area | titlecase}},{{profileInfo?.address?.street}},({{profileInfo?.address?.zip}})
                      </h3>
                      <h3>
                        {{profileInfo?.address?.city}},{{profileInfo?.address?.state}},{{profileInfo?.address?.country}}
                      </h3>
                    </div>
                    <br />
                    <div>
                      <h4>CC Emails to Aaron- Aaron</h4>
                    </div>
                  </div>
                </div>
                <div fxFlex="10">

                </div>
              </div>
            </div>
              <div fxFlex="50" fxLayout="column">
                <div >
                  <mat-form-field class="widthFull" appearance="outline">
                    <mat-label>Client notes</mat-label>
                    <textarea class="textareaStyle" [value]="profileInfo?.notes?.text" matInput readonly></textarea>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field class="widthFull" appearance="outline">
                    <mat-label>Intro</mat-label>
                    <textarea matInput class="textareaStyle" readonly></textarea>
                  </mat-form-field>
                </div>
              </div>
              </div> -->

              <!-- add family and friends !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! --> 
              <!-- <div fxLayout="row" fxLayoutAlign="space-around center">
                  <div fxFlex="50">
                    <div fxLayout="column" fxLayoutAlign="space-around start">
                      <div class="">
                        <div class="">
                          <p>Family and Friends Sharing</p>
                          <p class="smallFont blurText">share memberships and packages with your family and friends. <br>you
                            can also book, pay and receive<br> notifications on your family and friend's behalf. </p>
                          <button mat-raised-button><a class="smallFont pointer" (click)="familyAndFriend()">Add Family and Friends</a></button>
                        </div>
                      </div>
                      <div class="">
                        <div class="">
                          <p>General Tags</p>
                          <p class="smallFont blurText">Share memberships and packages with your family and friends. <br>you
                            can also book, pay and receive<br> notifications on your family and friend's behalf. </p>
                         <button mat-raised-button>  <a class="smallFont pointer">Add Tags</a></button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div fxFlex="50">
                    <div  fxLayout.xs="row">


                      <div>
                        <mat-grid-list cols="2" rowHeight="3:1">
                          <mat-grid-tile>
                            <div fxLayout="column" fxLayoutAlign="space-around center">
                              <div class="gridHeader">
                                {{profileInfo?.createdAt | date : 'mediumDate'}}
                              </div>
                              <div class="blurText">
                                Customer since
                              </div>
                            </div>
                          </mat-grid-tile>
                          <mat-grid-tile>
                            <div fxLayout="column" fxLayoutAlign="space-around center">
                              <div class="gridHeader">
                                {{clientDetails?.allBookings}}
                              </div>
                              <div class="blurText">
                                Appointments
                              </div>
                            </div>
                          </mat-grid-tile>
                          <mat-grid-tile>
                            <div fxLayout="column" fxLayoutAlign="space-around center">
                              <div class="gridHeader">{{profileInfo?.updatedAt | date : 'mediumDate'}}</div>
                              <div class="blurText">Last Visit</div>
                            </div>
                          </mat-grid-tile>
                          <mat-grid-tile>
                            <div fxLayout="column" fxLayoutAlign="space-around center">
                              <div class="gridHeader">{{clientDetails?.totalSales}}</div>
                              <div class="blurText">Sales</div>
                            </div>
                          </mat-grid-tile>
                          <mat-grid-tile>
                            <div fxLayout="column" fxLayoutAlign="space-around center">
                              <div class="gridHeader">{{clientDetails?.noShow}}</div>
                              <div class="blurText">No Show</div>
                            </div>
                          </mat-grid-tile>
                          <mat-grid-tile>
                            <div fxLayout="column" fxLayoutAlign="space-around center">
                              <div class="gridHeader">{{clientDetails?.cancelled}}</div>
                              <div class="blurText">Cancellations</div>
                            </div>
                          </mat-grid-tile>
                        </mat-grid-list>
                      </div>
                    </div>
                  </div>
              </div> -->
            

              <!-- <div fxLayout="row" fxLayoutAlign="start start">
                <div class="styleBox1" fxFlex="20" *ngIf="friendsList.length"
                fxLayout.xs="row">
                <div>
                  <p class="smallFont">Family</p>
                </div>
                <div>
                  <div fxLayout="row" *ngFor="let friend of friendsList" fxLayoutAlign="space-around center">
                    <div fxFlex="45">
                      <avatar [size]="40" [name]="friend?.firstName" background="#A9A9A9" [displayType]="'circle'"></avatar>
                    </div>
                    <div fxFlex="40">
                      <p class="styleFriends">{{friend?.firstName }} {{ friend?.lastName}} </p>
                      <p class="styleFriends">({{friend?.relationship}})</p>
                    </div>
                    <div fxFlex="15">
                      <button mat-icon-button aria-label="Example icon-button with a heart icon" [matMenuTriggerFor]="menu"
                        #menuTrigger="matMenuTrigger" (click)="menuTrigger.openMenu()">
                        <app-material-animated-icon start="more_vert" end="more_vert" colorStart="none" colorEnd="none"
                          [animate]="animate"></app-material-animated-icon>
                      </button>
                    </div>
                    <mat-menu #menu="matMenu" [overlapTrigger]="false">
                      <span (mouseleave)="menuTrigger.closeMenu()">
                        <span mat-menu-item class="fs10">Attach to Business</span>
                        <span mat-menu-item class="fs10">Edit</span>
                        <span mat-menu-item class="fs10">Remove</span>
                      </span>
                    </mat-menu>
                  </div>
                </div>
              </div>
              </div> -->
          <!-- </div> -->
        </div>

        <div class="content p-24" *ngIf="!showProfile">
          <div fxLayout="row" fxLayout.xs="column" class="innerbody" fxLayoutAlign="space-around">
            <!-- //TODO KAVISH EDIT CLIENT -->
            <form name="clientEditForm" [formGroup]="clientEditForm" (ngSubmit)="submitClientForm(clientEditForm)">
              <div class="left" fxLayout="column" fxFlex="80" [@enter]>

                <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column" fxLayoutGap.xs="5px">
                  <div fxLayout="column" fxFlex="48">
                    <mat-label>First name:</mat-label>
                    <mat-form-field appearance="outline">
                      <input matInput formControlName="firstName">
                    </mat-form-field>
                  </div>
                  <div fxLayout="column" fxFlex="48">
                    <mat-label>Last name:</mat-label>
                    <mat-form-field appearance="outline">
                      <input matInput formControlName="lastName">
                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column" fxLayoutGap.xs="5px">
                  <div fxLayout="column" fxFlex="96">
                    <mat-label>Email:</mat-label>
                    <mat-form-field appearance="outline">
                      <input matInput placeholder="" formControlName="email">
                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column" fxLayoutGap.xs="5px">
                  <div fxLayout="column" fxFlex="68">
                    <mat-label>Confirm Email:</mat-label>
                    <mat-form-field appearance="outline">
                      <input matInput placeholder="" formControlName="confirmEmail">
                    </mat-form-field>
                  </div>
                  <div fxLayout="column" fxFlex="28">
                    <mat-label>Gender:</mat-label>
                    <mat-form-field appearance="outline">
                      <input matInput placeholder="" formControlName="gender">
                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column" fxLayoutGap.xs="5px">
                  <div fxLayout="column" fxFlex="68">
                    <mat-label>Home Address:</mat-label>
                    <mat-form-field appearance="outline">
                      <input matInput placeholder="" formControlName="address">
                    </mat-form-field>
                  </div>
                  <div fxLayout="column" fxFlex="28">
                    <mat-label>Apt/Suite:</mat-label>
                    <mat-form-field appearance="outline">
                      <input matInput placeholder="" formControlName="apartmentNo">
                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="row" fxLayoutGap="60px" fxLayout.xs="column" fxLayoutGap.xs="5px">
                  <div fxLayout="column" fxFlex="20">
                    <button mat-raised-button (click)="editCancel()">Cancel</button>
                  </div>
                  <div fxLayout="column" fxFlex="20">
                    <button mat-raised-button color="primary" type="submit">Save</button>
                  </div>
                </div>

              </div>
              <div fxLayout="column" fxFlex="20" [@enter]>
                <p>Profile Photo:</p>
                <div class="image-border">
                  <ngx-image-uploader [options]="imageOptions" #imageUploader></ngx-image-uploader>
                </div>
                <button class="w88" mat-raised-button color="primary"
                  (click)="uploadImage(imageUploader)">Upload</button>
              </div>
            </form>
            <!-- //TODO KAVISH EDIT CLIENT -->
          </div>
        </div>
      </mat-tab>
      <mat-tab label="APPOINTMENTS">
        <div class="content p-24">
          <div fxLayout="row" fxLayoutAlign="space-between center" fxLayout.gt-xs="row"
            fxLayoutAlign.gt-xs="space-between center">
            
            <div>
              <mat-form-field class="noline">
                <mat-select class="dropdown" [formControl]="allDrop">
                  <mat-option value="">All</mat-option>
                  <mat-option value="">Date Range</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxLayout="70">
              <mat-form-field class="noline hello" [floatLabel]="'never'" style="width: 230px;">
                <input class="dropdown" autocomplete="off" matInput placeholder="Select date range"
                  [(ngModel)]="saleDateTimeRange" [selectMode]="'range'" [owlDateTimeTrigger]="dtRange2"
                  [owlDateTime]="dtRange2">
                <owl-date-time style="widows: 20px !important" [pickerType]="'calendar'" #dtRange2>
                </owl-date-time>
              </mat-form-field>
            </div>

            <div>
              <mat-form-field class="noline">
                <mat-select class="dropdown" [formControl]="statusDrop">
                  <mat-option *ngFor="let item of noline" [value]="item.value">{{item.viewValue}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div>
              <mat-form-field class="noline">
                <mat-select class="dropdown" [formControl]="serviceDrop">
                  <mat-option value="">All Service</mat-option>
                  <mat-optgroup *ngFor="let group of serviceGroups" [label]="group.name" [disabled]="group.disabled">
                    <mat-option *ngFor="let service of group.service" [value]="service.value">
                      {{service.viewValue}}
                    </mat-option>
                  </mat-optgroup>
                </mat-select>
              </mat-form-field>
            </div>

            <div>
              <mat-form-field class="noline">
                <mat-select class="dropdown" [formControl]="staffDrop">
                  <mat-option value="">All Staffs</mat-option>
                  <mat-option *ngFor="let item of staffDropList" [value]="item._id">{{item.firstName + item.lastName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div>
              <button mat-raised-button color="primary" (click)="appointmentSearch()">Search</button>
            </div>
            <div>
              <button mat-raised-button (click)="clearFiler()">Clear</button>
            </div>

            <!-- <div *ngIf="clientAppointmentList.length != 0" fxLayout="20">
            </div> -->

            <div fxLayout="10">
              <button mat-button [matMenuTriggerFor]="menu">
                <mat-icon>get_app</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item value="CSV" (click)="onOptionSelected($event.currentTarget.value)">CSV</button>
                <button mat-menu-item value="Excel"
                  (click)="onOptionSelected($event.currentTarget.value)">Excel</button>
                <button mat-menu-item value="Pdf" (click)="onOptionSelected($event.currentTarget.value)">Pdf</button>
              </mat-menu>
              <button mat-button>
                <mat-icon>print</mat-icon>
              </button>
            </div>
          </div>

          <div class="text-center py-3 p-4" *ngIf="clientAppointmentList.length == 0">
            <div class="emptyicons">
              <mat-icon [inline]='true'>account_circle
              </mat-icon>
              <h1>No Client's Appointments</h1>
              <p>No appointments present for {{profileInfo?.firstName | titlecase}}
                {{profileInfo?.lastName | titlecase}}</p>
            </div>
            <!-- <button mat-raised-button (click)="addClient()" color="primary">New client</button> -->
          </div>
          <div class="filters" *ngIf="clientAppointmentList.length > 0" fxLayout="column" fxLayoutAlign="start stretch">
            <table mat-table [dataSource]="clientAppointmentList" class="mat-elevation-z8">
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
              </ng-container>
              <ng-container matColumnDef="startTime">
                <th class="three" mat-header-cell *matHeaderCellDef> Date. </th>
                <td class="three" mat-cell *matCellDef="let element">
                  {{element.startTime | date : 'medium'}} </td>
              </ng-container>
              <ng-container matColumnDef="price">
                <th class="three" mat-header-cell *matHeaderCellDef> Price </th>
                <td class="three" mat-cell *matCellDef="let element"> {{element.price}} </td>
              </ng-container>
              <ng-container matColumnDef="service">
                <th class="two" mat-header-cell *matHeaderCellDef> Service </th>
                <td class="two" mat-cell *matCellDef="let element"> {{element?.service?.name}} </td>
              </ng-container>
              <ng-container matColumnDef="staff">
                <th class="two" mat-header-cell *matHeaderCellDef> Staff </th>
                <td class="two" mat-cell *matCellDef="let element">
                  {{element?.staff?.firstName}}{{element?.staff?.lastName}} </td>
              </ng-container>
              <!-- <ng-container matColumnDef="clientIntakeForm">
                <th class="one" mat-header-cell *matHeaderCellDef> Intake Form </th>
                <td class="one" mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
                  <button mat-button (click)=intakeFormLists(element._id)>
                    <mat-icon>assignment</mat-icon>
                  </button>
                </td>
              </ng-container> -->
              <tr mat-header-row *matHeaderRowDef="clientListColumn"></tr>
              <tr mat-row style="cursor: pointer;" *matRowDef="let row; columns: clientListColumn;"
               >
              </tr>
            </table>
          </div>
        </div>

      </mat-tab>
      <mat-tab label="ACCOUNT">
        <app-account-tab [selectedInd]="selectedInd"></app-account-tab>
      </mat-tab>
      <mat-tab label="PRODUCTS">

      </mat-tab>
      <mat-tab label="GIFT RECORD">

      </mat-tab>
      <mat-tab label="IOU">
        <app-iou-list></app-iou-list>
      </mat-tab>
      <mat-tab label="SOAP">
        <app-soap [clientId]="id"></app-soap>

      </mat-tab>
    </mat-tab-group>

  </div>
</div>



<!-- -------------------------------------------------------------------------------------------------- Move content -->