.input_class {
    background-position: bottom 5px center;
    background-size: calc(100% - 10px) 2px;
    background-repeat: no-repeat;
    background-color: #fcfcfc;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}