.heading3 {
    color: #24334A;
    line-height: 18px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 10px;
}

/* Ripple effect */
.rippleWorld {
    background-position: center;
    transition: background 0.8s;
    border: 1px solid #aaa;
    border-radius: 12px;
}

.rippleWorld:hover {
    background: white radial-gradient(circle, transparent 1%, white 1%) center/15000%;
}

.rippleWorld:active {
    background-color: rgb(235, 229, 229);
    background-size: 100%;
    transition: background 0s;
}

.textwrap {
    width: 50px !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;

    // padding: 40px !important;
    // font-size: 1.3rem !important;
    // margin: 0 !important;

}

::ng-deep .mat-tooltip {
    font-size: 15px !important;
    color: black !important;
    background-color: rgb(170, 169, 169) !important;
}

.iconClass {
    width: 10%;
    height: 10%;
}

.newapp {
    background-color: #F7F7F8;
    margin: 0px 0px 25px 0px;
    padding: 24px 16px;
}

.search {
    font-size: 68px;
    height: 68px;
    width: 68px;
    margin-bottom: -16px;
    color: #67768C;
}

.check-out-button {
    background-color: #24334A !important;
    color: white !important;
    text-transform: uppercase;
}

.buttonAlign {
    position: absolute;
    bottom: 0;
    width: 28vw;
    padding-bottom: 20px;
}
.divAlign {
    position: absolute;
    bottom: 40pc;
    width: 28vw;
    padding-bottom: 20px;
}


.value-data {
    font-weight: 500;
    color: #24334A;
    font-size: 18px;
    line-height: 24px;
    padding: 5px 10px 10px 10px;
    margin-top: 5px
}

.header-data {
    color: #67768C;
    font-size: 14px;
    line-height: 24px;
    padding: 0px 10px 10px 10px;
    margin-bottom: 20px;
}

.heading2 {
    word-wrap: break-word;
    max-width: 100%;
    min-width: 0;
    padding: 16px 16px 25px 16px;
    padding-bottom: 0px;
    font-size: 12px;
    font-weight: 400;
    color: #67768C;
    line-height: 16px;
    text-align: initial;
    white-space: pre-wrap
}

.contentdata {
    word-wrap: break-word;
    max-width: 100%;
    min-width: 0;
    font-size: 16px;
    font-weight: 400;
    color: #24334A;
    padding: 16px 16px 10px 16px;
    text-align: initial;
}

.noShow {
    padding-left: 16px;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 0;
    color: #24334A;
}

// Else css
h2 {
    text-align: center;
    color: #24334A;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 18px 18px 18px;
    line-height: 30px;
    font-size: 30px;
    font-weight: 300;
    margin: 0;
    font-family: Sarabun, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.option {
    height: 5em !important;
    border-top: solid 0.5px #DEE3E7;
    border-bottom: solid 0.5px #DEE3E7;
}

.innerbody {
    border-bottom: 1px solid #dee3e6;
    border-top: 1px solid #dee3e6;
}

.buttons {
    margin-top: 20px;
}

.left {
    display: block !important;
    border-right: 1px solid #dee3e6;
    padding-right: 35px;
    margin-right: 0px !important;
    height: 560px;
    overflow-y: scroll;
}

::ng-deep .mat-card {
    margin-top: 20px;
}

::ng-deep .mat-tab-body {
    min-height: 100%;
}

.online-booking-header {
    font-size: 15px;
}

.bottomSection {
    position: fixed;
    bottom: 7px;
    left: 7px;
    right: 10px;
    width: 98%;
}

.right {
    max-width: 450px;
    margin: 0 auto;
    padding: 24px 0;
    text-align: -webkit-center;
    overflow-y: auto;
}

.option2 {
    color: #67768C;
    font-size: 14px;
}

.line {
    text-decoration: line-through;
    color: #67768C;
    font-size: 14px;
}

p {
    color: #67768C;
    font-size: 16px;
    line-height: 22px;
    padding: 60px 0px 0px 10px;
}

a {
    color: #2B72BD !important;
    font-size: 14px !important;
    line-height: 16px !important;
    display: block !important;
    padding: 16px 0 !important;
    text-align: center !important;
}

.newclient {
    border-top: 1px solid #EEF0F2 !important;
    border-bottom: 1px solid #EEF0F2 !important;
}

.clientList {
    height: 100%;
    overflow-y: scroll;
    list-style: none;
}

.client {
    padding-left: 20px;
}

.intakeFormClosed {
    pointer-events: none;
    cursor: default;
    color: grey !important;
}

::ng-deep .mat-list .mat-list-item .mat-list-item-content:hover {
    cursor: pointer;
    background-color: none !important;
}

.saveButton {
    background-color: #24334A !important;
    color: white !important;
}

.deleteButton {
    background-color: #F74969 !important;
    color: white !important;
}

.heading {
    word-wrap: break-word;
    max-width: 100%;
    min-width: 0;
    padding: 16px 16px 25px 16px;
    padding-bottom: 0px;
    font-size: 12px;
    font-weight: 400;
    color: #67768C;
    line-height: 16px;
    text-align: initial;
    white-space: pre-wrap
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-prefix {
    margin: 0 8px 0 4px;
}

.clientInfo {
    max-height: 40vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.step {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: cream;
}

.v-stepper {
    position: relative;
    /*   visibility: visible; */
}

/* regular step */
.step .circle {
    background-color: white;
    border: 3px solid gray;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    display: inline-block;
}

.step .line {
    top: 23px;
    left: 10px;
    height: 100%;
    position: absolute;
    border-left: 3px solid gray;
}

.step.completed .circle {
    visibility: visible;
    background-color: rgb(6, 150, 215);
    border-color: rgb(6, 150, 215);
}

.step.completed .line {
    border-left: 3px solid rgb(6, 150, 215);
}

.step.active .circle {
    visibility: visible;
    border-color: rgb(6, 150, 215);
}

.step.empty .circle {
    visibility: hidden;
}

.step.empty .line {
    /*     visibility: hidden; */
    /*   height: 150%; */
    top: 0;
    height: 150%;
}

.step:last-child .line {
    border-left: 3px solid white;
    z-index: -1;
    /* behind the circle to completely hide */
}

.content {
    width: 100%;
    margin-left: 20px;
    display: inline-block;
}

.app_no {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px
}

.pay-design {
    color: #67768c;
    font-size: 12px;
}

.price-display {
    border: 1px solid #DEE3E7;
    border-radius: 2px;
    height: 60px;
}

.price-design {
    font-size: 20px;
    color: #24334A;
    line-height: 33px;
}

.box-size {
    border-radius: 3px;
    height: 60px;
    padding: 0;
    background-color: #24334A;
    color: white;
}

.backpay:hover {
    color: blue;
}

.hand {
    cursor: pointer;
}

.amountInput {
    text-align: left;
    text-align: initial;
    padding: 14px 0 !important;
    margin-left: 8px;
}

.symbol {
    position: static;
    left: auto;
    left: initial;
    top: auto;
    top: initial;
    -webkit-transform: none;
    transform: none;
    line-height: 33px;
    /* width: auto; */
    padding: 0;
}

.invoiceContent1 {
    color: #67768C;
    font-size: 14px;
}

.invoiceContent2 {
    color: #24334A;
    font-size: 14px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    // text-align: right
}

.modifysize {
    width: 49px;
    height: 49px;
    font-size: 51px;
    // padding-left: 7px;
}

.email-select {
    font-size: 14px;
    color: #67768C;
}

.phone-select {
    font-size: 16px;
    color: #67768C;
}

.error-handle {
    color: #f44336;
    font-size: 14px;
    text-align: center;
}

.block-pay {
    cursor: not-allowed;
}