@import "src/@fuse/scss/fuse";

.h3 {
  color: #616161 !important;
  font-weight: bold;
  font-size: 14px;
}

.emptyicons {
  text-align: center;
  margin-top: 2%;
  color: #616161 !important;
  font-size: 100px;

  p {
    font-size: 15px;
  }

  h1 {
    margin: -22px 0 5px 0;
  }
}

.align-end {
  text-align: end !important;
}

:host /deep/ .mat-cell,
.mat-footer-cell {
  font-size: 16px;
  color: #616161 !important;
}

:host /deep/ th.mat-header-cell {
  color: black;
  font-size: 15px;
}

#dashboard-analytics {
  table {
    width: 100%;
  }

  .box {
    min-height: 560px;
    min-width: 100%;
    padding: 40px auto;

    hr {
      border-top: 1px solid #E0E0E0;
    }
  }

  .main-widget {
    display: flex;
    flex-direction: column;
  }

  .content {
    display: flex;
    flex: 1 1 auto;
    padding: 32px;
    min-width: 0;

    @include media-breakpoint-down('md') {
      flex-direction: column;
    }

    @include media-breakpoint-up('md') {
      .left {
        margin-right: -32px;
      }
    }

    .left {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      min-width: 0;

      .widget {
        flex: 1 1 auto;
        min-width: 0;
      }
    }

    .right {
      display: flex;
      flex: 0 0 auto;
      width: 320px;
      min-width: 320px;
      max-width: 320px;

      @include media-breakpoint-down('md') {
        flex: 1 0 100%;
        margin-top: 32px;
        width: 100%;
        min-width: 0;
        max-width: none;
      }

      .fuse-card {
        @include media-breakpoint-down('md') {
          width: 100%;
          min-width: 0;
          max-width: none;
        }
      }
    }
  }
}

// ::ng-deep.black-overlay {
//     position:fixed !important;
// }

.mat-list-class {
  height: 491px;
}


.mat-list-height {
  height: 100px;
}


.w-15 {
  width: 15% !important;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.center {
  width: 100% !important;
}

.fullWidth {
  width: 100%;
  height: 100%;
}

::ng-deep.owl-dt-container {
  font-size: 1.5rem !important;
}

// ::ng-deep.owl-dt-container-row:last-child {
//   font-size: 20px !important;
// }



.textSize {
 font-size: 12px !important;
 padding-top: 10px !important;
}

.dropdown {
  padding: 10px !important;
  background: white !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 200px;
}

::ng-deep .noline .mat-form-field-underline {
  height: 0px !important;
  display: none !important;
}

// .location {
//   position: absolute !important;
//   top: 0;
//   z-index: 999;
//   left: 17%;
//   width: 285px;
// }

// ::ng-deep .placeholdercolor::mat-select-placeholder {   
//   color: red; 
// }

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 8 0;
}

.graphCard{
      width: 100%;
      height: 100%;
    }

// /* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {
//   .graphCard{
//     width: 200px;
//     height: 150px;
//   }        
// }

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {
//   .graphCard{
//     width: 200px;
//     height: 150px;
//   } 
// }

// /* Medium devices (landscape tablets, 768px and up) */
// // @media only screen and (min-width: 768px) {...}

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {
//   .graphCard{
//     width: 400px;
//     height: 300px;
//   } 
// }

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {
//   .graphCard{
//     width: 400px;
//     height: 300px;
//   } 
// }


// @media only screen and (max-width: 1024px) {
//   .graphCard {
//     width: 150px;
//     height: 100px;
//   }
// }

.style-border {
  border-top: 4px solid #2D323E;
}

.table {
  background-color: #2D323E !important;
  border-width: 3px !important;
  border-spacing: none !important;
}

.table-head {
  color: white !important;
}

.style-border-2 {
  box-shadow: none !important;
}

@keyframes ui-progress-spinner-color {
  100%,
  0% {
      stroke: #2D323E;
  }
  40% {
      stroke: #2D323E;
  }
  66% {
      stroke: #2D323E;
  }
  80%,
  90% {
      stroke: #2D323E;
  }
}