// Material theming tools
@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: 'Sarabun, monospace',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);
// Breakpoint mixins
@import "mixins/breakpoints";