<div>

  <div style="text-align:center;margin-top:20px;">
    <img src="../../assets/images/logos/massagenowblack.jpg" alt="" style="width:7%">
  </div>
  <h1 style="text-align: center;">PRIVACY & POLICY</h1>
  <ol>
    <li>
      “Massage Now” is committed to the protection of personal information provided by the users to Massage Now.
      You agree that Your use of Massage Now mobile application (“App”)implies Your consent to the collection,
      retention and use of Your personal information in accordance with the terms of this Privacy Policy (“Privacy
      Policy”)
    </li>
    <li>
      We take the privacy of our Users seriously. We are committed to safeguarding the privacy of Our users while
      providing a personalized and valuable service.
    </li>
    <li>
      A high standard of security is maintained by Us for Our users. However, the transmission of information via
      the internet or telephone networks is not completely secure. While We do Our best to protect Your
      information, particularly with respect to protection of Your personal data, Massage Now cannot ensure the
      security of Your data transmitted via the internet, telephone or any other networks.
    </li>
    <li>
      Access to the contents available through the App is conditional upon Your approval of this Privacy Policy
      which should be read together with the terms and conditions of use (“Terms”). You acknowledge that this
      Privacy Policy, together with our Terms, forms Our agreement with You in relation to Your use of the App
      (“Agreement”).
    </li>
  </ol>
</div>